body {background-color: #FDF5E6; color: #8B4513;}
h1,h2 {color: #5F9EA0;}
a {color: #DEB887;}
nav {background-color: #D2B48C; padding: 10px; margin-bottom: 30px}
nav a {color:  #5F9EA0;}
nav a:hover {background-color: #ADD8E6;}
.footer-right {float: right;}
@media only screen and (max-width: 768px){
    nav a {display:block; width: 100%; padding: 10px;}
    nav span {display: none;}
}