body {background-color: #FDF5E6; color: #8B4513;}
h1,h2 {color: #5F9EA0;}
a {color: #DEB887;}
nav {background-color: #D2B48C;}
nav a {color:  #5F9EA0;}
nav a:hover {background-color: #ADD8E6;}
nav {padding: 10px;}
nav {margin-bottom: 30px}
.footer-right {float: right;}